header input {
    margin: 1em 0em 1em 1em;
    color: white;
    border-radius: 9px;
    background-color: lightslategray;
}

header {
    justify-content: center;
    display: flex;
    margin: 0em 0em 0em 0em;
    background-color: darkred;
}

#role {
    position: absolute;
    left: 7px;
    top: 14px;
}