body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

main {
    background-color: whitesmoke;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

legend {
    text-align: left;
}

label {
    font-weight: bold;
}

#loginDiv {
    inline-size: min-content;
    margin: auto;
}

#loginForm {
    
}

#loginFieldset {
    
}

#signupForm {
    display: inline-grid;
    width: 25%;
}

#signupFieldset {
    margin: 1em 1em 0em 1em;
    display: inline-grid;
}

#info {
    color: whitesmoke;
}

fieldset {
    border-style: solid;
    border-radius: 9px;
    margin: 1em 1em 1em 1em;
    border-color: black;
    /* display: grid; */
    /* transform-origin: center; */
}

#cart {
    border-style: solid;
    border-radius: 9px;
    margin: 1em 1em 1em 1em;
    border-color: black;
    display: grid;
    width: 60%;
}

fieldset input, fieldset select {
    margin: 1em;
}

#profile {
    display: flex;
    justify-content: center;
}

#profileInfo {
    width: 33%;
    height: 1%;
}

#shipping {
    width: 85%;
    margin: 0;
}

#cartList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cartItem {
    background: blanchedalmond;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
}

.totalPrice {
    background-color: ghostwhite;
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    font-weight: bold;
    height: 1em;
}

#invoicePrice {
    float: right;
}

#invoicePriceTxt {
    float: left;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px 0 5px 0;
    color: floralwhite;
    background-color: darkred;
    text-align: center;
}

#searchByDiv {
    text-align: center;
    background-color: chocolate;
}

#browseDiv {
    text-align: center;
    background-color: coral;
}

th {
    color: whitesmoke;
    text-align: left;
    background-color: darkred;
    border-style: solid;
    border-color: black;
}

table {
    background-color: #002caa;
}

.tableItem {
    background-color: #96cdd9;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

#browseResults {
    margin: auto;
    width: 50%;
    margin-bottom: 5em;
}

.trackPrice {
    text-align: right;
}

tr input {
    margin: 0em 32% 0em 32%;
    width: 40%;
    text-align: center;
    border-style: outset;
    background-color: whitesmoke;
}

#cartTable td {
    border: 1px solid black;
    color: whitesmoke;
}

.songName {
    margin: 0;
    padding: 0 1em 0 1em;
}

.songPrice {
    text-align: right;
    margin: 0;
    padding-right: 0.5em;
    width: 13%;
}

.songQuantInput {
    margin: 0;
    padding: 0;
    width: 80%;
}

.songQuantity {
    text-align: -webkit-center;
    width: 3%;
}

.songRemove {
    width: 1%;
}

#profileInfo {
    font-size: larger;
}

#profileInfo, #cart {
    background-color: #00d0ff;
}

.removeCartItemBtn {
    background-color: whitesmoke;
    margin: 0em 0% 0em 33%;
    width: 33%;
    text-align: center;
    border-style: outset;
}

#adminBrowsing {
    display: flex;
    margin: 1em;
}

#adminTracks, #adminAlbums, #adminArtists {
    width: 33%;
    background-color: dodgerblue;
    border-style: solid;
    border-radius: 5px;
}

.adminSearchTxt {
    margin: 0 0 1em 1em;
    width: 12em;
}

.adminSearchBtn {
    padding: 5px;
    width: 13%;
    float: right;
    border-style: solid;
    border-radius: 5px;
}

.adminCreateBtn {
    width: 13%;
    margin: 1em;
    float: right;
    background-color: ghostwhite;
    border-radius: 11%;
    padding: 3px;
    border-style: solid;
}

.adminFieldset {
    width: 80%;
    justify-items: center;
}

.adminTrackItem, .adminAlbumItem, .adminArtistItem {
    border-style: groove;
    background-color: aliceblue;
    color: black;
}

.adminTrackItem span, .adminAlbumItem span, .adminArtistItem span {
    padding: 1em;
}

h3 {
    padding-left: 1em;
}

#adminArtists, #adminTracks, #adminAlbums {
    color: whitesmoke;
    margin-left: 1em;
}


#adminArtists p, #adminTracks p, #adminAlbums p {
    margin: 0 0 1em 1em;
}

.closeForm {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeForm:hover,
.closeForm:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.updateBtn, .createBtn {
    width: 35%;
    justify-self: center;
    margin: 1em;
}

.changeBtn, .deleteBtn{
    float: right;
    margin: 0;
    width: 2em;
}

.editBtn {
    float: right;
    width: 3em;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
}

#purchaseBtn {
    width: 10em;
}

#trackModalContent, #albumModalContent, #artistModalContent, #createTrackModalContent, #createAlbumModalContent, #createArtistModalContent, #confirmTrackModalContent, #confirmArtistModalContent, #confirmAlbumModalContent, #editProfileModalContent, #editShippingModalContent, #editPasswordModalContent, #purchaseModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: -webkit-center;
    border-radius: 20px;
}

#trackModal, #albumModal, #artistModal, #createTrackModal, #createAlbumModal, #createArtistModal, #confirmTrackModal, #confirmArtistModal, #confirmAlbumModal, #editProfileModal, #editShippingModal, #editPasswordModal, #purchaseModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0 0 0 / 75%);
}

#trackModalForm, #artistModalForm, #albumModalForm, #createTrackModalForm, #createAlbumModalForm, #createArtistModalForm {
    display: table-caption;
    width: 30em;
}

#confirmTrackDelete, #confirmArtistDelete, #confirmAlbumDelete {
    border-radius: 20px;
    padding: 1em;
    font-size: larger;
    margin: 0 1em;
    color: lawngreen;
    background-color: black;
}

#cancelTrackDelete, #cancelArtistDelete, #cancelAlbumDelete {
    border-radius: 20px;
    padding: 1em;
    font-size: larger;
    margin: 0 1em;
    color: red;
    background-color: black;
}

.profileForm {
    display: inline-grid;
}

#invoiceSubmitForm {
    display: inline-flex;
    width: 100%;
}

#invoiceShipping {
    width: 35%;
    font-weight: bold;
}

#invoiceCart {
    width: 65%;
    height: fit-content;
}

#invoiceCart th {
    color: whitesmoke;
    background-color: black;
}

#invoiceCartTable {
    background-color: white;
}